.filters{
    background-color:white;
    height:70px;
    width: 100%;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    position: relative;
}

.locations,
.filters .amenities{
    height: 100%;
    width: 25%;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.locations {
    border-right: solid 1px #DDDDDD;
}

.filters .amenities h3,
.locations h3 {
    font-weight: 600;
    margin:0;
    padding-left: 45px;
    padding-top: 17.5px;
}

.popover{
    border: solid #DDDDDD 1px;
    border-radius: 4px;
    background-color: #FAFAFA;
    list-style-type: none;
    position: absolute;
    max-height: 300px;
    width: 100%;
    padding: 34px 0 0 0;
    left: -1px;
    top: 56px;
    display:none;
    overflow-y: scroll;
}


.locations .popover h2{
    margin: 0;
    font-size: 16px;
    padding-left: 30px;
    margin: 0 0 5px 0;
}

.locations:hover > ul{
    cursor: pointer;
    display: block;
    z-index: 1;
}

.locations .popover h4 {
    padding-left: 0;
}

.wrapper ul li:hover{
    text-decoration: underline;
}

.filters .amenities:hover > ul{
    cursor: pointer;
    display: block;
    z-index: 1;
}

.filters .amenities ul li:hover{
    text-decoration: underline;
}

.popover ul{
    padding-left: 60px;
    list-style-type: none;
    margin: 0 0 24px 0;
}

.filters .amenities .popover{
    left: -5px;
    padding: 34px 0 34px 0;
}

.filters .amenities .popover:hover{
    display: block;
}

.filters .amenities .popover li{
    padding-bottom: 4px;
}

.locations .popover li{
    padding-bottom: 4px;

}


.filters .amenities h4,
.locations h4 {
    font-weight: 400;
    font-size: 14px;
    margin:0;
    padding-left: 45px;
}

.filters button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    border: none;
    border-radius: 4px;
    width: 20%;
    position: absolute;
    top: 12px;
    right: 30px;
}

.filters button:hover{
    opacity: 90%;
}